<div>
    <v-container>
        <v-row>
            <v-col>
                <SearchPassengersComponent
                    @onSearchPassengers="onSearchPassengersHandler"
                />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <PassengersTableComponent
                    :passengersList="passengersData"
                    @onChangeLimit="onChangeLimitHandler"
                    @onAddPassenger="onAddPassengerHanlder"
                />
            </v-col>
        </v-row>
    </v-container>
</div>
