
<section class="search-passengers-component">
  <v-expansion-panels v-model="panel">
    <v-expansion-panel>
      <v-expansion-panel-header>
        <h1>Search & Filter Passenger</h1>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="searchObject.first_name"
              label="search by first name"
              filled
              rounded
              dense
            >
            <v-icon
              slot="append"
              color="#ff01a7"
            >
              mdi-account
            </v-icon>
            </v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="searchObject.last_name"
              label="search by last name"
              filled
              rounded
              dense
            >
            <v-icon
              slot="append"
              color="#ff01a7"
            >
              mdi-account
            </v-icon>
          </v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="searchObject.email"
              label="search by email"
              filled
              rounded
              dense
            >
              <v-icon
                slot="append"
                color="#ff01a7"
              >
                mdi-email
              </v-icon>
            </v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-switch
              v-model="searchObject.banned"
              color="#ff01a7"
              label="Filter Banned Passengers"
            ></v-switch>
          </v-col>
          <v-col>
            <v-btn
              color="#08de6f"
              @click="onSearch"
              class="mr-2 mb-2 mb-sm-0"
            >
              Search Passenger
            </v-btn>
            <v-btn
              color="#ff01a7"
              @click="onResetSearch"
              class="mx-auto"
            >
              Reset Search
            </v-btn>
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</section>

