
<section class="passengers-table-component">
  <v-data-table
    :headers="headers"
    :items="passengersList"
    class="elevation-1"
    :items-per-page="itemsPerPage"
    @update:items-per-page="onChangePerPage($event)"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Passengers Table</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="#ff01a7"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Passenger
            </v-btn>
          </template>
          <v-card width="500px">
            <v-card-title>
              <span class="text-h5">New Passenger</span>
            </v-card-title>

            <v-card-text>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
              >
                <v-text-field
                  v-model="passenger.first_name"
                  label="First Name"
                  :rules="firstNameRules"
                ></v-text-field>
                <v-text-field
                  v-model="passenger.last_name"
                  label="Last Name"
                  :rules="lastNameRules"
                ></v-text-field>
                <v-text-field
                  v-model="passenger.email"
                  label="Email"
                  :rules="emailRules"
                ></v-text-field>
                <v-text-field
                    v-model="passenger.phone"
                    label="Phone"
                    :rules="phoneRules"
                  ></v-text-field>
                  <v-text-field
                  v-model="passenger.gender"
                  label="Gender"
                ></v-text-field>
                <v-text-field
                  v-model="passenger.number_masked"
                  label="Number Masked"
                ></v-text-field>
                <v-textarea
                  name="note"
                  label="note"
                  value=""
                  hint="max 100 words"
                ></v-textarea>
                <v-btn
                  :disabled="!valid"
                  color="#08de6f"
                  class="mr-4"
                  @click="onAddPassenger"
                >
                  Add Passenger
                </v-btn>
                <v-btn
                  color="#ff01a7"
                  class="mr-4"
                  @click="close"
                >
                  Cancel
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-btn
        color="#08de6f"
        dark
        link 
        :to="`/passenger/${item.id}`"
      >
        Active
      </v-btn>
    </template>
    <!-- <template v-slot:no-data>
      <v-btn
        color="primary"
        @click=""
      >
        Reset
      </v-btn>
    </template> -->
  </v-data-table>
</section>

